body{
    background-color: rgb(234, 230, 230);
    background-image: url(images_zingine/369911.jpg);
    background-position:unset;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 20px;
    border-bottom: dotted rgb(236, 2, 2);
    border-top: double rgb(255, 0, 0);
    border-left: solid rgb(255, 0, 0);
    border-right: dashed rgb(255, 0, 0);
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: brown;
    background-color: gold;
}
    


p{
    color: rgb(1, 25, 237);
    background-color: aqua;
}
h1{
    color: black;
}
#paral2{
    background-color: aquamarine;   
}
#one{
    font-family: 'Courier New', Courier, monospace;
}
#paral1{
    background-color: blueviolet;
}
    