.sidebar{
    background-color:blanchedalmond;
    color: black;
    width: 200px;
    height: 1000px;
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    font-size: 20px;
}

.sidebar ul{
    list-style: none;
    margin: 10px;
    padding: 20px;
}

li{
padding-top: 30px;
padding-right: 20px;
font-family:cursive;
font-size: 16px;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color:yellow;

}

.rounded-image{
    padding-left: 30px;
    padding-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow-y: none;
}

.my-name{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-weight: bold;
}

.introduction{
    margin-left: 200px;
}

.contact-me{
    border: 1px solid red;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.contact-me a{
    color: white;
    border: 1px solid red;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
}

button{
    text-align: center;
    margin-left: 300px;
    background-color: black;
    color: antiquewhite;
}

.my-work{
    margin-left: 200px;
}

.read-more a {
    color: white;
    background-color:black;
    border: 1px solid black;
    border-radius: 20px;
    
}

.read-more a:hover{
    color: gold;
    transition-delay: 100ms;
}

nav{
    text-align: center;
}